{% extends 'base.twig' %}

{% block head %}
    <title>Cart</title>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2 class="fs-2 fw-bold">Giỏ hàng</h2>
        <hr>
        <div class="mt-4 row gap-4 flex-nowrap">
            <div class="col col-8">

                <h4>Đơn hàng của bạn</h4>
                <div>0 sản phẩm trong giỏ hàng</div>
                <div class="cart__list mt-3 d-flex flex-column">
                    <div class="cart__item d-flex mb-3 gap-3 border shadow-sm py-3 px-4">
                        <img width="180" height="110" class="rounded-3" src="/images/course-image-test.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5>Khoa hoc name</h5>
                            <p>description</p>
                            <div class="text-danger fw-bolder fs-4 text-end">300000</div>
                        </div>
                    </div>
                    <div class="cart__item d-flex mb-3 gap-3 border shadow-sm py-3 px-4">
                        <img width="180" height="110" class="rounded-3" src="/images/course-image-test.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5>Khoa hoc name</h5>
                            <p>description</p>
                            <div class="text-danger fw-bolder fs-4 text-end">300000</div>
                        </div>
                    </div>
                    <div class="cart__item d-flex mb-3 gap-3 border shadow-sm py-3 px-4">
                        <img width="180" height="110" class="rounded-3" src="/images/course-image-test.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5>Khoa hoc name</h5>
                            <p>description</p>
                            <div class="text-danger fw-bolder fs-4 text-end">300000</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-4 ">
                <div class="card__cart p-4 rounded-3 shadow-sm" style="background: #ebf1fb">
                    <h4>Tổng cộng ({{ num_cart_items }})</h4>
                    <span class="mt-2 fs-3 fw-bold text-danger">4000000đ</span>
                    <a href="/order/create" class="mt-4 btn btn-primary w-100">Tiến hành thanh toán</a>
                </div>
            </div>
        </div>

        <div class="courses__related mt-5">
            <div class="group">
                <div class="group__info">
                    <h4>Những cuốn sách cùng chủ đề</h4>
                </div>

                <div class="swiper my__swiper">
                    <div class="swiper-wrapper">
                        {% for book in books %}
                            <div class="swiper-slide">
                                <div class="course">
                                    <img src="/images/course-image-test.jpg" alt="course" class="img-fluid">
                                    <div class="course__info">
                                        <h3 class="course__name">Course Name</h3>
                                        <p class="course__description">Description</p>
                                        <div class="prices">
                                            <div class="price--discount">500000đ</div>
                                            <div class="price text-primary">200000đ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/js/cart.js"></script>
{% endblock %}