{% extends 'admin.twig' %}

{% block head %}
    <title>admin</title>
{% endblock %}

{% block body %}
    <textarea id="editor">hello, world!</textarea>
{% endblock %}

{% block script %}
    <script src="/js/admin/index.js"></script>
{% endblock %}
