{% extends 'base.twig' %}

{% block head %}
    <title>Read book</title>
    <link rel="stylesheet" href="/css/books/read.css">
{% endblock %}

{% block body %}
    <div class="mt-5">
        <div class="wrapper">
            <div class="aspect">
                <div class="aspect__inner">
                    <div id="flipbook">
                        <div class="page"><img
                                    src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/01.jpg"
                                    draggable="false" alt=""/></div>
                        <div class="page"><img
                                    src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/02.jpg"
                                    draggable="false" alt=""/></div>
                        <div class="page"><img
                                    src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/03.jpg"
                                    draggable="false" alt=""/></div>
                        <div class="page"><img
                                    src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/04.jpg"
                                    draggable="false" alt=""/></div>
                        <div class="page"><img
                                    src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/05.jpg"
                                    draggable="false" alt=""/></div>
                        <div class="page"><img
                                    src="https://raw.github.com/blasten/turn.js/master/demos/magazine/pages/06.jpg"
                                    draggable="false" alt=""/></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions text-center mt-5">
            <button class="first btn btn-warning"><<</button>
            <button class="prev btn btn-primary"><</button>
            <button class="next btn btn-primary">></button>
            <button class="last btn btn-warning">>></button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/js/books/read.js"></script>
{% endblock %}