.section {
    margin-bottom: 35px;
    border: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 25px 35px;
}

.types {
    display: flex;
    gap: 10px;
}

.type {
    padding: 5px 19px;
    background-color: #d6e2f5;
    color: #3488ed;
    border-radius: 9999px;
}