{% extends 'auth.twig' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <div class="w-40 h-100">
        <img src="/images/login-banner.png" alt="" class="image">
    </div>
    <div class="flex-grow-1 py-5 px-3 bg-white">
        <div class="mx-auto w-75">
            <div class="d-flex align-items-center justify-content-end">
                <span class="me-3">Bạn chưa có tài khoản?</span>
                <a href="/signup" class="btn btn-light border px-3">Đăng ký</a>
            </div>

            <div>
                <h3 class="fs-2 fw-bold">Chào mừng !</h3>
                <p class="mt-3"><strong>Đăng nhập</strong> để trải nghiệm những nội dung thú vị nào!</p>
            </div>

            <form action="/login/new" method="post" class="mt-5">
                <div class="mb-3">
                    <label for="username" class="form-label">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" name="remember_me" for="exampleCheck1">Lưu mật khẩu</label>
                </div>
                <button type="submit" class="btn btn-primary w-100 btn-lg">Đăng nhập</button>
            </form>
        </div>
    </div>
{% endblock %}